/*
created by: Toby Cantello
Date created: 8/21/23
Last updated: 8/21/23
*/

.commentsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.commentsTitle {
    font-size: 72px;
    font-style: oblique;
    font-weight: bolder;
    text-decoration: underline;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.commentsName{
    color: white;
    font-style: oblique;
    font-weight: bolder;
    font-size: large;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.commentsInputButtonCell{
    text-align: center;
}

.comments{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
}

.commentNumbers{
    text-align: center;
    color: white;
    font-style: oblique;
    font-weight: bolder;
    font-size: large;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.commentsTable{
    border: 2px, 2px, 2px, 2px;
    border-style: solid;
    border-color: white;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
}

.commentsTableRow{
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: white;
}

.commentsTableCell{
    border-left: 2px;
    border-right: 2px;
    border-style: solid;
    border-color: white;
}

.commentTableNameCell{
    width: 25%;
    font-size: large;
    font-style: oblique;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.commentTableCommentCell{
    width: 75%;
    font-size: large;
    font-style: oblique;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}