/*
created by: Toby Cantello
Date created: 7/26/23
Last updated: 8/9/23
*/

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url('../images/background/americanflag.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    align-content: center;
    width: 100%;
}

footer {
    background-color: lightgrey;
    margin-top: auto;
    color: black;
    font-style: oblique;
    width: 100%;
}

input {
    border: 1px, solid, black;
    border-radius: 6px;
}

.footerParent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.indexContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.indexTitle {
    font-size: 72px;
    font-style: oblique;
    font-family: cursive;
    color:red;
    text-shadow: 1px 1px 2px white, 0 0 1em blue, 0 0 0.2em blue;
}

.indexTitle1 {
    font-size: 144px;
    font-style: oblique;
    font-family: cursive;
    color:white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.indexTitle2 {
    font-size: 72px;
    font-style: oblique;
    font-family: cursive;
    color:blue;
    text-shadow: 1px 1px 2px white, 0 0 1em blue, 0 0 0.2em red;
}

.playerName {
    color: white;
    font-style: oblique;
    font-weight: bolder;
    font-size: large;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.btn-index-mysettings {
    width: 226.66px;
    height: 75.2px;
    font-style: oblique;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.playParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.playTitle {
    color:red;
    font-size: 72px;
    font-weight: bolder;
    font-style: oblique;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 2px white, 0 0 1em blue, 0 0 0.2em blue;
}

.playRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    color:white;
    text-align: center;
    width: 100%;
}

.player1 {
    align-self: center;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    width: 25%;
}

.playCardArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    color:red;
    font-weight: bolder;
    font-size: xx-large;
    width:50%;
    text-shadow: 1px 1px 2px white, 0 0 1em blue, 0 0 0.2em blue;
}

.playCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.player2{
    align-self: center;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    width: 25%;
}

.p2 {
    font-size: x-large;
}

.playAgain {
    width: 100%;
    justify-items: center;
}

.creatorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.creatorBio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    width: 75%
}

.creatorNamePic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%
}

.creatorTitle {
    font-size: 72px;
    font-style: oblique;
    font-weight: bolder;
    text-decoration: underline;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.creatorImage {
    border-radius: 50%;
    object-fit: cover;
}

.creatorName {
    font-size: xx-large;
    font-style: oblique;
    font-weight: bolder;
    text-decoration: underline;
    color: white;
    text-shadow: 1px 1px 2px crimson, 0 0 1em blue, 0 0 0.2em blue;
}

.creatorAbout {
    color: white;
    font-size: x-large;
    font-style: oblique;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    width: 50%
}

.howToPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.howToTitle {
    font-size: 72px;
    font-style: oblique;
    font-weight: bolder;
    text-decoration: underline;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.howToPlay{
    font-style: oblique;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.howStep{
    text-align: left;
}

.howRules{
    font-size: larger;
    font-weight: bolder;
    font-style: oblique;
    text-decoration: underline;
}

.rules {
    margin-left: 4em;
    margin-right: 4em;
}

.e404Page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.e404Title {
    font-size: 72px;
    font-style: oblique;
    font-weight: bolder;
    text-decoration: underline;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.e404Main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    width: 75%
}

.e404Pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%
}

.e404Image {
    border-radius: 50%;
    object-fit: cover;
}

.e404Name {
    font-size: xx-large;
    font-style: oblique;
    font-weight: bolder;
    text-decoration: underline;
    color: white;
    text-shadow: 1px 1px 2px crimson, 0 0 1em blue, 0 0 0.2em blue;
}

.e404About {
    color: white;
    font-size: x-large;
    font-style: oblique;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    width: 50%
}

.e404link{
    font-size: xx-large;
    color:blue;
    text-shadow: 1px 1px 2px white, 0 0 1em blue, 0 0 0.2em red;
}