/*
created by: Toby Cantello
Date created: 7/26/23
Last updated: 8/21/23
*/

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url('../images/background/americanflag.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}

main {
    align-content: center;
    width: 100%;
}

footer {
    background-color: lightgrey;
    margin-top: auto;
    color: black;
    font-style: oblique;
    width: 100%;
}

input {
    border: 1px, solid, black;
    border-radius: 6px;
}

textarea{
    border: 1px, solid, black;
    border-radius: 6px;
}

.footerParent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}