<!--
created by: Toby Cantello
Date created: 8/9/23
Last updated: 8/9/23
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="../static/images/logo.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toby Cantello's Card War Game</title>
</head>
<body>
    <main>
        <div class="e404Page">
            <div>
                <h1 class="e404Title">Error 404!</h1>
            </div>
            <br>
            <div class="e404Main">
                <div class="e404Pic">
                    <figure>
                        <img class="e404Image" src="../static/images/selfie.jpg" alt="Picture of Creator Toby Cantello" width="206.4" height="366.4">
        
                        <figcaption class="e404Name">Toby Cantello</figcaption>
                    </figure>
                </div>
                <div class="e404About">
                    <p>I have accomplished many things in my life, however the page you were looking for is not one of those things!</p>
                    <br>
                    <a class="e404link" href="/">Click here to play the game!</a>
                </div>
            </div>
            <!--
            <div class="indexContent">
                <div>
                    <p class="e404indexTitle">Toby Cantello's</p>
                    <p class="e404indexTitle1">Card War Game!</p>
                    <p class="e404indexTitle2">Who will Survive!</p>
                </div>
            </div>
            -->
        </div>
    </main>
    <footer>
        <div class="footerParent">
            <div class="footerChild"><p>Version 1.0 Created by Toby Cantello 2023</p></div>
            <div class="footerChild">URL bar Image by <a href="https://www.freepik.com/free-vector/gradient-tc-logo-design_28610789.htm#query=tc&position=7&from_view=search&track=sph">Freepik</a></div>
            <div class="footerChild">
                <p>Background image by <a href="https://www.freepik.com/free-photo/american-flag-background-with-folds-creases-coding-design_1161517.htm#query=war&position=1&from_view=search&track=sph" target="_blank">kjpargeter</a> on Freepik</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>