<!--
created by: Toby Cantello
Date created: 8/2/23
Last updated: 8/28/23
-->

{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/creator.css') }}">
{% endblock %}

{% block title %}
    About the Creator of the Site
{% endblock %}

{% block content %}
<br>
<br>
<div class="creatorPage">
    <div>
        <h1 class="creatorTitle">The Creator!</h1>
    </div>
    <br>
    <div class="creatorBio">
        <div class="creatorNamePic">
            <figure>
                <img class="creatorImage" src="../static/images/selfie.jpg" alt="Picture of Creator Toby Cantello" width="206.4" height="366.4">

                <figcaption class="creatorName">Toby Cantello</figcaption>
            </figure>
        </div>
        <div class="creatorAbout">
            <p>
                In 2023 I am currently employed by <a href="https://www.yum.com/" target="_blank">YUM! Brands</a> as a Software Engineering Apprentice. 
                I am attending an apprentice training program through <a href="https://www.multiverse.io/" target="_blank">Multiverse</a>. I am currently enrolled
                at <a href="https://www.lonestar.edu" target="_blank">Lone Star College</a> working on my AAS of Computer Programming.
                <br>
                <br>
                You can reach me via email at <a href="mailto:toby@tobycantello.us">toby@tobycantello.us</a>
                <br>
                or at my website <a href="http://www.tobycantello.us">www.tobycantello.us</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}