<!--
created by: Toby Cantello
Date created: 8/2/23
Last updated: 8/22/23
-->

{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/howto.css') }}">
{% endblock %}

{% block title %}
Toby Cantello's Card War Game How to Play
{% endblock %}

{% block content %}
<br>
<br>
<div class="howToPage">
    <div>
        <h1 class="howToTitle">How To Play!</h1>
    </div>
    <br>
    <div class="howToPlay">
        <p class="howRules">How the game is played</p>
        <ul class="howStep rules">
            <li>Enter the players name on the Main Page</li>
            <li>Click the <img src="../static/images/playgamebutton.png" alt="Play Game Button" width="113.5" height="38"> button</li>
            <li>For each round click the <img src="../static/images/nextbattle.png" alt="Next Battle Button" width="111" height="39"> button</li>
            <li>After the last round is played the <img src="../static/images/nextbattle.png" alt="Next Battle Button" width="111" height="39"> button with change to a 
                <img src="../static/images/playagain.png" alt="Play Again button" width="112" height="36"> button</li>
            <li>Cant click the <img src="../static/images/playagain.png" alt="Play Again button" width="112" height="36"> button
                to play again or you can click the <img src="../static/images/quit.png" alt="Quit Button"> button
                in the upper right corner of the Nav Bar to leave the game.</li>
        </ul>
        <br>
        <p class="howRules">Rules</p>
        <p class="rules">The Game consist of 26 rounds. For each round the player with the highest face value will win. 
            Aces are the hightest value card. If there is a tie, the game moves to the next round. Goal is
            to win the most rounds. Good Luck.
        </p>
    </div>
</div>
{% endblock %}