<!--
created by: Toby Cantello
Yum! Brands employee ID tpc6775
Date created: 7/13/23
Last updated: 7/27/23
-->

{% extends 'base.html' %}

{% block title %}
    Toby Cantello's Card War Game Play
{% endblock %}

{% block content %}
<div class="playParent">
    <div class="playTitle">
        <p>Welcome to the Battle Field!</p>
    </div>
    <div class="playRow">
        <div class="player1">
            <p>Player 1 stats area</p>
            {% for p1_card in p1_cards %}
                <p class="p2">Your card is a {{ p1_card['value'] }} of {{ p1_card['suit'] }}</p>

            {% endfor %}
        </div>
        <div class="playCardArea">
            {% for p1_card in p1_cards %}
                <img src="{{ p1_card['image'] }}">
            {% endfor %}
            {% for p2_card in p2_cards %}
                <img src="{{ p2_card['image'] }}">
            {% endfor %}
            <br>
            Cards Remaining: {{ p2_card.remaining }}
        </div>
        <div class="player2">
            <p>Player 2 stats area</p>
            {% for p2_card in p2_cards %}
                <p class="p2">Your card is a {{ p2_card['value'] }} of {{ p2_card['suit'] }}</p>
                
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
    <center>
        <div class="playAgain">
            {% if p2_card.remaining > 0: %}
                <a href="/play" class="btn btn-success btn-index-mysettings">Next Battle!</a>
            {% else %}
                <a href="/" class="btn btn-success btn-index-mysettings">Play Again!</a>
            {% endif %}
        </div>
    </center>
</div> 
{% endblock %}   
